body {
    font-family:'Roboto', sans-serif;
    color:   #434455;
    background: #FFF;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: 0;
}

ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
list-style: none;
}

a {
text-decoration: none;
color: currentColor;
}
button {
cursor: pointer;
}

img {
display: block;
}

address {
font-style: normal;
}
.container { 
width: 1440px;
padding-left: 15px; 
padding-right: 15px;  
margin: 0 auto;
/* outline: 2px solid blueviolet; */
} 
.header {
    /* padding-top: 24px;
    padding-bottom: 24px; */
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
    display: flex;
    align-items: center;
    gap: 332px;
    padding-left: 156px;
    /* width: 1158px; */
}
.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.header-logo {
color:  #4D5AE5;
font-family:"Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
display: flex;
align-items: center;
margin-right: 76px;

}
.header-logo-color {
    color: #2E2F42;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
}
.header-menu-list {
    display: flex;
    gap: 40px;

}
.header-menu-item {
list-style: none;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.header-menu-link {
    color:#2e2f42;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
text-decoration: none;
padding: 24px 0;
}
.header-menu-link:hover,
.header-menu-link:focus{
    color: #404bbf;
}
.header-address{
    font-style: normal; 
}
.header-soc-list {
    list-style: none;
    display: flex;
    gap: 40px;
    padding-right: 156px;
    padding: 24px 0;  
}
.contact-link{
    color:#434455;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus{
    color: #404bbf;
}
.hero {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
    justify-content: center;
}
.hero-container {
    background:  #2E2F42; 
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    padding: 188px 472px 292px 472px;
}
.hero-title {
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 0.02em;
max-width: 496px;
margin-bottom: 48px;
}
.button {
    display: block;
    justify-content: center;
    cursor: pointer;
    border: none;
}
.hero-btn {
background:  #4D5AE5;
color: #FFF;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
cursor: pointer;
display: block;
height: 56px;
min-width: 169px;
padding: 16px 32px;
border: none;
border-radius: 4px;
margin-left: 150px;
}




.hero-btn:hover,
.hero-btn:focus {
    background:  #404BBF;
    color:  #FFF;
    outline: transparent;

}
.strategy {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
.container {
}
/* .strategy-title {
} */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.strategy-list {
    display: flex;
    gap: 24px; 
    /* padding-left: 156px;
    padding-right: 156px; */
}
.strategy-item {
    width: calc((100% - 72px) / 4);
list-style: none;
}
.strategy-subtitle {
color:  #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.strategy-text {
color:  #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;

}
.our-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color:  #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
}
.team-list {
    margin: 0 156px 120px 156px;
    display: flex;
    gap: 24px;
    padding-bottom: 0px;

}
.team-item {
list-style: none;
background-color: #FFFFFF;
display: inline-flex;
padding-bottom: 0px;
flex-direction: column;
justify-content: center;
align-items: center;
width: calc((100% - 72px) / 4); 
border-radius: 0px 0px 4px 4px;
background:  #FFF;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-img {
}
.team-info{
    padding: 32px 0 ;

}
.team-subtitle {
    color:  #2E2F42;
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
padding: 32px 16px 8px;
margin-bottom: 8px ;

}
.team-text {
color:  #434455;
text-align: center;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
    padding: 0 16px 32px;
}
.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px; 
}
.portfolio-list {
/* padding: 360px 388px; */
display: flex; 
padding-bottom: 0px;
align-items: flex-start;
flex-shrink: 0;
flex-wrap: wrap;
gap: 48px 32px;
justify-content: center;
column-gap: 24px;

}
.portfolio-item {
    list-style: none;
    border: 1px solid  #E7E9FC;
    background:  #FFF;
    /* width: calc((100% - 48%)/3);     */
    width: calc((100% - 48px) / 3); 
}
.portfolio-subtitle {
color:  #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
padding: 32px 16px 8px;
margin-bottom: 8px;
}

.portfolio-img {
    /* padding-bottom: 32px;
    padding-top: 32px; */
}
.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none; 
}
.portfolio-text {
color:  #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
    padding: 0 16px 32px;
}
.footer {
    background:  #2E2F42;
    padding: 100px 0;
}
.footer-logo {
color:  #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
margin-bottom: 16px;
}
.footer-logo-color {
color:  #F4F4FD;
}
.footer-text {
color:  #F4F4FD;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
}